{{#each data.comments}}
<div class="media">
    <img class="align-self-center mr-3" src="data:image/png;base64, {{avatar}}" alt={{username}}>
    <div class="media-body">
        <h5 class="mt-0">{{username}}</h5>
        <p>{{comment}}</p>
    </div>
</div>
{{/each}}