.details {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height:80%;
}

.details-image {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
}

.details-description {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}
.details-details {
    flex:0,0,10%;
}

.favorite-icon {
    color:yellow;    
    font-size: 4rem;
    margin:50px 0;
    transition: all 200ms ease-out;
}

.favorite-icon:hover {
    text-shadow: 0px 0px 15px rgba(255, 255, 0, 1);
    cursor: pointer;
}

.details-details label {
    margin-top:5%;
    display: block;
}

.details-details button {
    width:100%;
}

.details-description p {
    text-align: justify;
}

#cart article {
    margin: 5% auto;
}

#cart div {
    text-align: center;
    padding-bottom:5%;
}

#cart .remove {
    width:50%;
    margin:1% auto;
    font-size: 3rem;
}