#home {
    width:50%;
    margin:0 auto;
    text-align: center;
}

h1,h3,h4,h5 {
    color:white;
}

small {
    color:white;
}

#home h1 {
    font-size: 4rem;
}

#home h3 {
    font-size:3rem;
}

#home h1,#home h3 {
    padding:25px 0;
}

#home form {
    width: 50%;
    margin:0 auto;
}
