html {    
    min-height: 100%;
}

body {
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('../images/header-image.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height:100%;
    color:white;
}

.nav-item {
    padding:0px 15px;
}

.nav-link {
    font-size: 1.5em;
}

nav a img {
    width:150px;
}

#sort {
    text-align: center;
}

#sort ul {
    list-style: none;
}

#sort ul li {
    display: inline-block;
    padding:0 3%;
}

#sort ul li a {
    color:white;
}

#profile {
    text-align: center;
    width:50%;
    margin:0 auto;
}

#profile img {
    width:200px;
    height:200px;
}

#profile h1, #profile img, #profile form {
    margin:5%;
}

#comments {
    width:50%;
    margin: 5% auto;
    text-align: center;
}

#comments form {
    margin: 5% auto;
}

#comments img {
    width: 100px;
    height:100px;
}

#comments .media {
    text-align: left;
    margin:3%;
}

.center {
    text-align: center;
}