<section id="form">
    <form action="/register" method="POST" id="register-form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
            <small id="username-errors" class="form-text text-white"></small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            <small id="password-errors" class="form-text text-white"></small>
        </div>
        <div class="form-group">
            <label for="repeat-password">Repeat password</label>
            <input type="password" class="form-control" id="repeat-password" name="repeatPassword" placeholder="Repeat password">
            <small id="repeat-password-errors" class="form-text text-white"></small>
        </div>
        <button type="submit" id="register-button" class="btn btn-primary">Submit</button>
    </form>
</section>